<div class="mb-5">
    <nav class="navbar bg-primary text-white py-2">
        <div class="container p-0 d-flex align-items-center">
            <a asp-controller="home" asp-action="index" class="text-white text-decoration-none navbar-brand">
                <h3 class="m-0">
                    Kurs Uygulaması
                </h3>
            </a>
            <div class="d-flex align-items-center">
                <a asp-controller="course" asp-action="index" class="text-white text-decoration-none">Kurslar</a>
            </div>
        </div>
    </nav>
    <div class="bg-warning d-flex justify-content-center py-1">
        <span class="fw-bold text-white" style="font-size:11px">Sadık Turan Asp.Net Web Geliştirme Kursu Pratikleri</span>
    </div>
</div>