<div class="container">
    <h5>Bölüm 2: Temel Konular;</h5>
    <ul>
        <li>Routing Yapısı</li>
        <li>Bootstrap</li>
        <li>Repository</li>
        <li>Razor Syntax</li>
    </ul>
</div>